.item-text, span {
    width: 100%;
}

.item-todo {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    font-size: 20px;

}

form {
    margin-bottom: 50px;
}

.loading {
    margin: 50px;
}

.strike {
    text-decoration: line-through
}